In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/modulo2/dados_jogadores-1.csv',
                 sep=';',encoding='latin-1')

In [ ]:
df

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [ ]:
df.describe()

       num_vitorias  num_derrotas  total_partidas
count    491.000000    494.000000      491.000000
mean      25.150713     22.872470       47.892057
std       21.062049     21.326733       28.231452
min        1.000000      0.000000        1.000000
25%        8.000000      6.000000       24.000000
50%       20.000000     16.500000       45.000000
75%       38.000000     34.000000       73.000000
max       93.000000     92.000000      100.000000

In [ ]:
#verificar numeros nulos
df.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

In [ ]:
# numero de total de partidas nulas
df.loc[df['total_partidas'].isnull()]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
71,Jogador 72,Masculino,27/03/2005,Dama,Paraguai,29.0,7.0,NaN
86,Jogador 87,Feminino,25/05/1975,Dama,Argentina,80.0,6.0,NaN
407,Jogador 408,Feminino,23/11/1970,Xadrez,Brasil,54.0,28.0,NaN
423,Jogador 424,Masculino,21/08/1998,Dama,Paraguai,47.0,30.0,NaN
453,Jogador 454,Feminino,21/10/2000,Dama,Paraguai,15.0,42.0,NaN
458,Jogador 459,Masculino,17/06/1999,Jogo da velha,Argentina,23.0,50.0,NaN
473,Jogador 474,Feminino,22/10/1977,Xadrez,Uruguai,24.0,4.0,NaN
490,Jogador 491,Masculino,27/05/1981,Dama,Argentina,16.0,1.0,NaN

In [ ]:
# alguns totais de partidas estÃ£o nulas
def total (vitorias, derrotas):
  return vitorias+derrotas

df.loc[df['total_partidas'].isnull(),'total_partidas'] =  df.apply(lambda x: total(x['num_vitorias'],x['num_derrotas']), axis=1)

In [ ]:
df.describe()

       num_vitorias  num_derrotas  total_partidas
count    491.000000    494.000000      499.000000
mean      25.150713     22.872470       48.038076
std       21.062049     21.326733       28.205865
min        1.000000      0.000000        1.000000
25%        8.000000      6.000000       24.000000
50%       20.000000     16.500000       45.000000
75%       38.000000     34.000000       73.500000
max       93.000000     92.000000      100.000000

In [ ]:
#verificar num_vitorias nulas
df.loc[df['num_vitorias'].isnull()]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
46,Jogador 47,Masculino,31/01/1978,Dama,Uruguai,NaN,68.0,85.0
55,Jogador 56,Feminino,27/01/1959,Dama,Paraguai,NaN,29.0,80.0
97,Jogador 98,Feminino,16/04/1980,Dama,Paraguai,NaN,1.0,10.0
137,Jogador 138,Feminino,16/02/1963,Jogo da velha,Chile,NaN,28.0,44.0
251,Jogador 252,Masculino,18/08/1985,Jogo da velha,Chile,NaN,27.0,28.0
323,Jogador 324,Feminino,23/03/1994,Dama,Brasil,NaN,1.0,7.0
372,Jogador 373,Feminino,24/06/2000,Xadrez,Paraguai,NaN,49.0,60.0
492,Jogador 493,Feminino,21/09/2001,Jogo da velha,Uruguai,NaN,6.0,25.0

In [ ]:
# numero de vitorias nulas atualizar com total - derrotas
def vitorias (total, derrotas):
  return total-derrotas

df.loc[df['num_vitorias'].isnull(),'num_vitorias'] = df.apply(lambda x :  vitorias(x['total_partidas'], x['num_derrotas']) , axis=1  )

In [ ]:
#verificar num_derrotas nulas
df.loc[df['num_derrotas'].isnull()]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
246,Jogador 247,Feminino,14/02/1954,Dama,Argentina,33.0,NaN,89.0
255,Jogador 256,Feminino,28/09/2000,Xadrez,Chile,1.0,NaN,73.0
287,Jogador 288,Masculino,01/02/1952,Xadrez,Brasil,3.0,NaN,17.0
336,Jogador 337,Masculino,13/06/1996,Dama,Argentina,36.0,NaN,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0

In [ ]:
def num_derrotas (vitorias, total):
  return total-vitorias

df.loc[df['num_derrotas'].isnull(),'num_derrotas'] = df.apply(lambda x :  num_derrotas(x['num_vitorias'], x['total_partidas']) , axis=1  )

In [ ]:
#Qual o paÃ­s possui a menor mÃ©dia de vitÃ³rias? No geral (independente do jogo). 
df.groupby('pais')['pais','num_vitorias'].sum().sort_values(ascending=True, by='num_vitorias').head(4)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

           num_vitorias
pais
Uruguai          2131.0
Argentina        2279.0
Brasil           2534.0
Paraguai         2755.0

In [ ]:
#verificar numeros nulos
df.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [ ]:
#Qual Ã© a soma de derrotas do Brasil no jogo Dama? 
df.loc[(df['pais']=='Brasil')&(df['jogo']=='Dama')]['num_derrotas'].sum()

580.0

In [ ]:
#Qual o jogo possui o maior nÃºmero de partidas? 
df.groupby('jogo')['jogo','total_partidas'].sum().sort_values(ascending=False, by='total_partidas').head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

        total_partidas
jogo
Xadrez          8178.0

In [ ]:
#Qual o jogo de menor preferÃªncia entre os homens? 
df.loc[df['genero']=='Masculino'].groupby('jogo')['jogo','total_partidas'].sum().sort_values(ascending=True, by='total_partidas').head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               total_partidas
jogo
Dama                   3721.0
Xadrez                 4069.0
Jogo da velha          4157.0